<!DOCTYPE html>

<html>
    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- http://getbootstrap.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- app's own CSS -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <!-- http://getbootstrap.com/ -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- https://github.com/corejavascript/typeahead.js/blob/master/doc/jquery_typeahead.md -->
        <script src="https://cdn.rawgit.com/corejavascript/typeahead.js/master/dist/typeahead.jquery.js"></script>

        <!-- http://handlebarsjs.com/ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

        <!-- http://stewartjpark.com/Flask-JSGlue/ -->
        {{ JSGlue.include() }}

        <!-- app's own JavaScript -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>

        {% extends "layout.html" %}

{% block title %}
    Pomodoro
{% endblock %}

{% block main %}
    <head>
      <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #f2f2f2;
          text-align: center;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #f2f2f2;
      }
      </style>
      </head>
      <body>

        <!-- fill viewport -->
        <div class="container-fluid">

            <!-- http://getbootstrap.com/css/#forms -->
            <div id="default_container">
                <div id="timer">
  		        <h1 style="display:inline;" id="time">25:00</h1>
  		        <br>
	            </div>
	        </div>
	    <div style="width:200px; margin-left: auto; margin-right:auto;" class="form-group">
            <input type="text"  class="form-control" id="task_name" name="task_name" placeholder="Enter Task Name" text-align:center method="post" role="form">
        </div>
	    <div class="container-fluid">
	        <button type="button" class="btn btn-success" href="{{ url_for('startlog') }}" name="startbutton" onClick="startTimer()">Start</button>
            <button type="button" class="btn btn-danger" href="#" onClick="stopTimer()">Stop</button>
            <button type="button" class="btn btn-info" href="#" onClick="resetTimer()">Reset</button>
	    </div>
	    </div>
        </div>
        <div>
            <h2 id = "pomodoros_today">Successful Pomodoros Today: {{ successful_pomodoros_day }}</h2>
            <h2 id = "pomodoros_this_week">Successful Pomodoros This Week: {{ successful_pomodoros_week }}</h2>
        </div>
    </body>
{% endblock %}
</html>
